/**
* color
**/
/**
* typography
**/
/**
* screen
**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Heebo");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  font-size: 1rem;
  font-family: 'Heebo', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  width: 100%;
}

.g-grid-1 {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.g-grid-2 {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 780px) {
  .g-grid-2 {
    display: block;
  }
}

.g-grid-3 {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 584px) {
  .g-grid-3 {
    grid-column-gap: 10px;
  }
}

@media (max-width: 440px) {
  .g-grid-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
}

.col {
  background-color: white;
  padding: 30px;
}

@media (max-width: 780px) {
  .col {
    padding: 30px 20px;
  }
}

.g-grid-modal {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  -ms-grid-columns: calc(46% - 15px) calc(54% - 15px);
      grid-template-columns: calc(46% - 15px) calc(54% - 15px);
}

@media (max-width: 780px) {
  .g-grid-modal {
    display: block;
  }
}

.g-grid-modal .col {
  padding: 0px;
}

.g-grid-imageList {
  margin-top: 8px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.g-grid-imageList img {
  width: 100%;
  max-height: 126px;
  -o-object-fit: cover;
     object-fit: cover;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block !important;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #4A90E2;
  color: white;
}

.btn-success {
  background-color: #7ED321;
  color: white;
}

.btn-muted {
  background-color: #9B9B9B;
  color: white;
}

.btn-hope {
  background-color: #F5A623;
  color: white;
}

.btn-dark {
  background-color: black;
  color: white;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-outline-muted {
  color: #686868;
  background-color: inherit;
}

.dropdown {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.dropdown:hover {
  color: black;
}

.dropdown:hover .dropdown__tooltip {
  display: block;
}

.dropdown__icon {
  padding-left: 8px;
}

.dropdown__tooltip {
  display: none;
  position: absolute;
  top: 25px;
  left: calc(50% + 4px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 8px;
  background: black;
  color: white;
  white-space: nowrap;
}

.dropdown__tooltip:after {
  content: '';
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dropdown__list {
  position: absolute;
  top: 30px;
  color: black;
  display: none;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  font-size: 1rem;
}

.dropdown__list--active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  z-index: 1;
}

.dropdown__list__item {
  padding: 8px 37px;
  background-color: white;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown__list__item:first-child {
  padding-top: 16px;
}

.dropdown__list__item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.dropdown__list__item--active {
  background-color: black;
  color: white;
}

.dropdown__list__item--disabled:hover {
  background-color: white;
  color: black;
  cursor: default;
}

.dropdown__checkboxList {
  position: absolute;
  right: 0px;
  top: 24px;
  color: black;
  display: none;
  -webkit-box-shadow: 1px 2px 10px 0;
          box-shadow: 1px 2px 10px 0;
}

.dropdown__checkboxList--active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  z-index: 1;
}

.dropdown__checkboxList__item {
  padding: 9px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 46px;
}

.dropdown__checkboxList__item input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0px;
  height: 0px;
}

.dropdown__checkboxList__item:hover input ~ .dropdown__checkboxList__item__checkmark {
  background-color: #9B9B9B;
}

.dropdown__checkboxList__item input:checked ~ .dropdown__checkboxList__item__checkmark:after {
  display: block;
}

.dropdown__checkboxList__item input:checked ~ .dropdown__checkboxList__item__checkmark {
  background: black;
}

.dropdown__checkboxList__item:first-child {
  padding-top: 16px;
}

.dropdown__checkboxList__item--active {
  background-color: black;
  color: white;
}

.dropdown__checkboxList__item__checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.dropdown__checkboxList__item__checkmark:after {
  content: "";
  position: absolute;
  display: none;
  width: 3px;
  height: 7px;
  left: 4px;
  top: 1px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0px;
  height: 0px;
}

.checkbox:hover input ~ .checkbox__checkmark {
  background-color: #9B9B9B;
}

.checkbox input:checked ~ .checkbox__checkmark:after {
  display: block;
}

.checkbox input:checked ~ .checkbox__checkmark {
  background: black;
}

.checkbox__checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: block;
}

.checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
  width: 3px;
  height: 7px;
  left: 4px;
  top: 1px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkboxWithWord {
  position: relative;
  margin-left: 30px;
  white-space: nowrap;
}

.checkboxWithWord input:checked ~ .checkbox__checkmark {
  background: #9B9B9B;
}

.checkboxWithWord .checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: -31px;
  border: none;
  background: white;
}

.checkboxWithWord .checkbox__checkmark:after {
  left: 5px;
  top: 2px;
}

.checkboxWithImg {
  position: relative;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkboxWithImg .img {
  background-image: url("https://images.unsplash.com/photo-1543365471-c23b69e5dcc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 8px;
  margin-left: 40px;
}

.checkboxWithImg input:checked ~ .checkbox__checkmark {
  background: #9B9B9B;
}

.checkboxWithImg .checkbox__checkmark {
  position: absolute;
  top: 50%;
  left: -8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: white;
}

.checkboxWithImg .checkbox__checkmark:after {
  left: 5px;
  top: 2px;
}

.form--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form--row .inputGroup:not(:first-child) {
  margin-left: 8px;
}

.form__group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form__control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  display: block;
  border-radius: 4px;
  padding: 9px 16px;
  border: 1px solid #cccccc;
  margin-top: 8px;
  width: 100%;
}

.form .inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .inputGroup__prepend {
  padding: 8px 16px;
  background-color: #EBEBEB;
  border: 1px solid #cccccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  margin-top: 8px;
  color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .form .inputGroup__prepend {
    padding: 8px;
  }
}

.form .inputGroup .form__control {
  border-radius: 0 4px 4px 0;
}

textarea {
  resize: vertical;
}

.uploadFile {
  cursor: pointer;
  padding: 25px 46px;
  display: block;
  background-color: #EBEBEB;
  color: #4f4f4f;
  text-align: center;
}

.uploadFile p {
  margin-top: 10px;
}

.table {
  width: 100%;
}

.table p {
  margin-top: 7px;
}

.table thead {
  background-color: white;
}

.table thead th {
  white-space: nowrap;
  font-weight: bold;
  padding: 11px 20px;
  text-align: left;
}

.table tbody tr:nth-child(even) {
  background-color: #EBEBEB;
}

.table tbody td {
  font-size: 14px;
  white-space: nowrap;
  padding: 20px;
  vertical-align: top;
}

.tdList--right {
  text-align: right;
}

.tdList__item {
  white-space: nowrap;
  padding: 8px 0px;
  border-top: 1px solid white;
}

.tdList__item:first-child {
  padding-top: 0px;
  border-top: none;
}

.paganation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 30px;
  padding-bottom: 30px;
}

.paganation a {
  padding: 13px 16px;
  background-color: white;
}

.paganation a:first-child {
  margin-left: auto;
}

.paganation a:hover {
  background-color: black;
  color: white;
}

.paganation .active {
  background-color: black;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 780px) {
  .modal {
    padding-top: 0;
  }
}

.modal__content {
  font-size: 1rem;
  border-radius: 4px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 940px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #EBEBEB;
  text-decoration: none;
  cursor: pointer;
}

.modal__header {
  padding: 20px 35px;
  background-color: black;
  color: white;
}

.modal__body {
  padding: 30px;
}

@media (max-width: 780px) {
  .modal__body {
    padding: 30px 40px;
  }
}

.modal__footer {
  padding: 30px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  color: #9B9B9B;
  font-weight: bold;
}

@media (max-width: 584px) {
  .navbar {
    position: relative;
  }
}

@media (max-width: 584px) {
  .navbar .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar__btn {
  padding: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 584px) {
  .navbar__btn {
    display: block;
  }
}

.navbar__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  padding: 21px 80px 21px 42px;
}

@media (max-width: 780px) {
  .navbar__title {
    padding: 21px 35px 21px 30px;
  }
}

@media (max-width: 584px) {
  .navbar__title {
    padding: 20px;
  }
}

@media (max-width: 584px) {
  .navbar__mainList {
    width: 100%;
    height: auto;
    background-color: #333333;
    z-index: 5;
    top: 64px;
  }
}

@media (max-width: 584px) {
  .navbar__mainList .navbar__list__item a {
    padding: 20px 30px;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 584px) {
  .navbar__list {
    display: none;
  }
}

.navbar__list--right {
  margin-left: auto;
}

@media (max-width: 584px) {
  .navbar__list--right {
    display: block;
    margin-left: 0;
  }
}

.navbar__list--light {
  color: black;
}

.navbar__list__item {
  height: 100%;
}

@media (max-width: 584px) {
  .navbar__list__item {
    height: auto;
  }
}

.navbar__list__item a {
  display: block;
  padding: 25px 25px;
  padding-bottom: 21px;
}

@media (max-width: 780px) {
  .navbar__list__item a {
    padding: 25px 20px;
  }
}

@media (max-width: 584px) {
  .navbar__list__item a {
    padding: 23px 20px 0 0px;
    width: 100%;
  }
}

.navbar__list__item a i {
  display: none;
}

@media (max-width: 584px) {
  .navbar__list__item a i {
    display: inline-block;
  }
}

.navbar__list__item a span {
  display: inline-block;
}

@media (max-width: 584px) {
  .navbar__list__item a span {
    display: none;
  }
}

.navbar__list__item--active {
  color: black;
  border-bottom: 4px solid black;
}

@media (max-width: 584px) {
  .navbar__list__item--active {
    border-bottom: none;
  }
}

.navbar--dark {
  background-color: black;
  color: #9B9B9B;
}

.navbar--dark .navbar__title {
  color: white;
}

.navbar--dark .navbar__list__item--active {
  color: white;
  border-bottom: 4px solid white;
}

@media (max-width: 584px) {
  .navbar--dark .navbar__list__item--active {
    border-bottom: none;
  }
}

.navbar--dark .navbar__list--light {
  color: white;
}

.main {
  background-color: #F2F2F2;
}

.main .row {
  padding: 30px 42px;
}

.main .row:not(:last-child) {
  padding-bottom: 0px;
}

@media (max-width: 780px) {
  .main .row {
    margin: 0 auto;
  }
}

@media (max-width: 584px) {
  .main .row {
    padding: 15px 0;
  }
}

.main .tablerow {
  padding: 16px 30px;
  overflow-x: auto;
}

.main .title h6 .checkbox {
  margin-left: 16px;
}

.smallTitle {
  font-size: 0.875rem;
}

/**
* text
**/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-decoration-line {
  text-decoration: line-through;
}

.text-highlight {
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 584px) {
  .text-highlight {
    font-size: 32px;
  }
}

@media (max-width: 440px) {
  .text-highlight {
    font-size: 28px;
  }
}

/**
* margin
**/
.mr-1 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.ml-auto {
  margin-left: auto;
}

/**
* color
**/
.color-primary {
  color: #4A90E2;
}

.color-danger {
  color: #D0021B;
}

.color-success {
  color: #7ED321;
}

.color-muted {
  color: #9B9B9B;
}

.color-light {
  color: white;
}

/**
* header
*/
.h6 {
  font-size: 1rem;
  font-weight: bold;
}

.h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

.h2 {
  font-size: 2rem;
  font-weight: bold;
}

.h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

/**
* flex
**/
.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/**
* title
**/
.title {
  padding: 30px 42px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 584px) {
  .title {
    padding: 30px 10px 5px 30px;
  }
}

@media (max-width: 440px) {
  .title {
    padding: 20px 10px 5px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.title .date {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 440px) {
  .title .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.title .date i {
  margin-left: 8px;
  margin-right: 8px;
}

@media (max-width: 440px) {
  .title .date i {
    margin: 0;
  }
}

.title .date .fa-caret-down {
  display: none;
}

@media (max-width: 440px) {
  .title .date .fa-caret-down {
    display: inline-block;
  }
}

.title .date .fa-caret-right {
  display: inline-block;
}

@media (max-width: 440px) {
  .title .date .fa-caret-right {
    display: none;
  }
}

.title .timeInterval {
  margin-left: 20px;
}

.title .timeInterval .dropdown__list {
  right: 0px;
}

/**
* 1st row
**/
@media (max-width: 780px) {
  .overviewList__item {
    padding: 20px 20px;
  }
}

@media (max-width: 584px) {
  .overviewList__item {
    padding: 20px 10px;
  }
}

@media (max-width: 780px) {
  .overviewList__item .h6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
  }
}

@media (max-width: 440px) {
  .overviewList__item .h6 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 780px) {
  .overviewList__item i {
    margin-bottom: 10px;
  }
}

/**
* 2nd row
**/
@media (max-width: 584px) {
  .activity {
    padding: 30px;
  }
}

@media (max-width: 440px) {
  .activity {
    padding: 20px;
    padding-bottom: 0;
  }
}

.activityChart {
  margin-top: 16px;
}

/**
* 3rd row
**/
.list {
  margin-top: 30px;
}

.list__item--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transweb {
  padding: 30px 40px;
}

@media (max-width: 960px) {
  .transweb {
    padding: 30px 35px;
  }
}

@media (max-width: 584px) {
  .transweb {
    padding: 30px;
  }
}

@media (max-width: 440px) {
  .transweb {
    padding: 20px;
  }
}

.transwebList__item {
  padding: 23px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transwebList__item:first-child {
  padding-top: 0px;
}

.transwebList__item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

@media (max-width: 960px) {
  .transwebList__item {
    padding: 18px 0;
  }
}

@media (max-width: 780px) {
  .transwebList__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.transwebList__item .h6 {
  margin-left: 20px;
}

.transwebList__item__data {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 960px) {
  .transwebList__item__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transwebList__item__data:hover .tooltip, .transwebList__item__data:active .tooltip {
    display: block;
  }
}

@media (max-width: 780px) {
  .transwebList__item__data {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 584px) {
  .transwebList__item__data:hover .tooltip, .transwebList__item__data:active .tooltip {
    display: none !important;
  }
}

@media (max-width: 360px) {
  .transwebList__item__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.transwebList__item__data__persent {
  margin-left: 20px;
  cursor: default;
}

.transwebList__item__data__persent:hover .tooltip, .transwebList__item__data__persent:active .tooltip {
  display: block;
}

.transwebList__item__data__persent i {
  margin-right: 5px;
}

@media (max-width: 960px) {
  .transwebList__item__data__persent {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 780px) {
  .transwebList__item__data__persent {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media (max-width: 360px) {
  .transwebList__item__data__persent {
    margin-top: 10px;
    margin-left: 0;
  }
}

.lastOrder {
  padding: 30px 40px;
}

@media (max-width: 960px) {
  .lastOrder {
    padding: 30px 35px;
  }
}

@media (max-width: 780px) {
  .lastOrder {
    margin-top: 30px;
  }
}

@media (max-width: 584px) {
  .lastOrder {
    margin-top: 15px;
    padding: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 440px) {
  .lastOrder {
    padding: 20px;
  }
}

.lastOrderList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0px;
}

.lastOrderList__item:first-child {
  padding-top: 0px;
}

.lastOrderList__item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

.lastOrderList__item__img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

@media (max-width: 960px) {
  .lastOrderList__item__img {
    width: 120px;
    height: 120px;
  }
}

.lastOrderList__item__img.img1 {
  background-image: url("https://images.unsplash.com/photo-1545958397-822a0f48ff29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.lastOrderList__item__img.img2 {
  background-image: url("https://images.unsplash.com/photo-1528911810580-7452a3412d02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.lastOrderList__item__img.img3 {
  background-image: url("https://images.unsplash.com/photo-1520012218364-3dbe62c99bee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.lastOrderList__item__content {
  padding: 11px 21px 21px 0px;
  margin-left: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 100px);
}

@media (max-width: 960px) {
  .lastOrderList__item__content {
    width: calc(100% - 120px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin-left: 12px;
  }
}

@media (max-width: 780px) {
  .lastOrderList__item__content {
    padding: 11px 21px 21px 0px;
  }
}

@media (max-width: 360px) {
  .lastOrderList__item__content {
    padding-bottom: 0px;
  }
}

.lastOrderList__item__content ul > li {
  padding-top: 8px;
  white-space: nowrap;
}

.lastOrderList__item__content ul > li:nth-child(2) {
  padding-left: 3px;
}

.lastOrderList__item__content ul > li:nth-child(2) i {
  margin-right: 5px;
}

.lastOrderList__item__content__total {
  margin: auto 0px 0px auto;
  text-align: right;
}

@media (max-width: 960px) {
  .lastOrderList__item__content__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 360px) {
  .lastOrderList__item__content__total {
    padding-top: 20px;
  }
}

.lastOrderList__item__content__total .h5 {
  margin-top: 2px;
}

@media (max-width: 960px) {
  .lastOrderList__item__content__total .h5 {
    margin-top: 0;
    margin-left: 12px;
  }
}

.tooltip {
  position: absolute;
  padding: 20px 16px;
  background-color: black;
  font-size: 14px;
  border-radius: 3px;
  bottom: 30px;
  left: 10px;
  display: none;
}

@media (max-width: 960px) {
  .tooltip {
    left: 27.1px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 62px;
  }
}

@media (max-width: 780px) {
  .tooltip {
    bottom: 35px;
    left: 10px;
    padding: 20px 10px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.tooltip__title__highlight {
  margin-left: 6px;
  margin-right: 6px;
}

.tooltip__desc {
  text-align: center;
  margin-top: 8px;
  font-style: italic;
}

.tooltip:before {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 960px) {
  .tooltip:before {
    bottom: -8px;
  }
}

.dropdown.statusDropDown {
  position: static;
}

.dropdown.statusDropDown i {
  padding-left: 0px;
}

.dropdown.statusDropDown input:checked ~ .dropdown__list {
  display: block;
}

.dropdown.statusDropDown .dropdown__list {
  left: 0px;
}

.statusChangeIcon {
  margin-left: 16px;
}

.orderTable thead th:nth-child(3),
.orderTable thead th:nth-child(4),
.orderTable thead th:nth-child(5),
.orderTable thead th:nth-child(6) {
  padding: 11px 12px;
}

.orderTable tbody td:nth-child(3),
.orderTable tbody td:nth-child(4),
.orderTable tbody td:nth-child(5),
.orderTable tbody td:nth-child(6) {
  padding: 20px 12px;
}

.orderTable tbody tr:first-child td {
  padding-top: 17px;
}

.productTable thead th:nth-child(5) {
  padding-left: 0;
}

.productTable thead th:nth-child(6) {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}

.productTable thead th:nth-child(7) {
  padding-left: 44px;
}

.productTable tbody td {
  padding-top: 36px;
}

.productTable tbody tr td:last-child {
  padding-left: 44px;
  vertical-align: bottom;
}

.productTable tbody tr td:first-child {
  padding-top: 17px;
}

.productTable .tdList {
  padding-right: 0;
  padding-left: 0;
}

.productTable .tdList__item__noword {
  height: 16px;
}

.imgList {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -4px;
  margin-top: 8px;
}

.imgList img {
  margin: 3px;
}

@media (max-width: 780px) {
  .addNewProForm {
    margin-top: 30px;
  }
}

.addNewProForm .h6 {
  font-size: 1.25rem;
}

.price input {
  text-align: right;
}

.specification input {
  text-align: center;
}

.specification__sizeInput {
  width: 60px;
}

@media (max-width: 960px) {
  .specification__sizeInput {
    width: 45px;
  }
}
/*# sourceMappingURL=all.css.map */