@import url('https://fonts.googleapis.com/css?family=Heebo');

body {
  font-size: $font-base;
  font-family: 'Heebo', sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  width: 100%;
}