@mixin grid {
  display: grid;
  grid-column-gap: 20px;
}

.g-grid-1 {
  @include grid;
  grid-template-columns: 1fr 1fr;
}

.g-grid-2 {
  @include grid;
  grid-template-columns: 1fr 1fr;

  @include medium-screen {
    display: block;
  }
}

.g-grid-3 {
  @include grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include small-screen {
    grid-column-gap: 10px;
  }

  @include mobile-screen {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
}

.col {
  background-color: $color-light;
  padding: 30px;

  @include medium-screen {
    padding: 30px 20px;
  }
}

.g-grid-modal {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: calc(46% - 15px) calc(54% - 15px);

  @include medium-screen {
    display: block;
  }

  .col {
    padding: 0px;
  }
}

.g-grid-imageList {
  margin-top: 8px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;

  img {
    width: 100%;
    max-height: 126px;
    object-fit: cover;
  }
}