.container {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  color: $color-muted;
  font-weight: bold;

  @include small-screen {
    position: relative;
  }

  .container {
    @include small-screen {
      justify-content: space-between;
    }
  }

  &__btn {
    padding: 20px;
    cursor: pointer;
    display: none;

    @include small-screen {
      display: block;
    }
  }

  &__title {
    font-size: $font-base * 1.5;
    font-weight: bold;
    color: $color-dark;
    padding: 21px 80px 21px 42px;

    @include medium-screen {
      padding: 21px 35px 21px 30px;
    }

    @include small-screen {
      padding: 20px;
    }
  }

  &__mainList {
    @include small-screen {
      width: 100%;
      height: 100vh;
      background-color: lighten($color: $color-dark, $amount: 20%);
      z-index: 5;
      top: 64px;
    }

    .navbar__list__item a {
      @include small-screen {
        padding: 20px 30px;
      }
    }
  }

  &__list {
    display: flex;

    @include small-screen {
      display: none;
    }

    &--right {
      margin-left: auto;

      @include small-screen {
        display: block;
        margin-left: 0;
      }
    }

    &--light {
      color: $color-dark;
    }

    &__item {
      height: 100%;

      @include small-screen {
        height: auto;
      }

      a {
        display: block;
        padding: 25px 25px; //padding-up need to add active's border-bottom 4px
        padding-bottom: 21px;

        @include medium-screen {
          padding: 25px 20px;
        }

        @include small-screen {
          padding: 23px 20px 0 0px;
          width: 100%;
        }

        i {
          display: none;

          @include small-screen {
            display: inline-block;
          }
        }

        span {
          display: inline-block;

          @include small-screen {
            display: none;
          }
        }
      }

      &--active {
        color: $color-dark;
        border-bottom: 4px solid $color-dark;

        @include small-screen {
          border-bottom: none;
        }
      }
    }

  }

  &--dark {
    background-color: $color-dark;
    color: $color-muted;

    .navbar {
      &__title {
        color: $color-light;
      }

      &__list {
        &__item--active {
          color: $color-light;
          border-bottom: 4px solid $color-light;

          @include small-screen {
            border-bottom: none;
          }
        }

        &--light {
          color: $color-light;
        }
      }
    }
  }
}

.main {
  background-color: $color-secondary;


  .row {
    padding: 30px 42px;

    &:not(:last-child) {
      padding-bottom: 0px;
    }

    @include medium-screen {
      margin: 0 auto;
    }

    @include small-screen {
      padding: 15px 0;
    }
  }

  .tablerow {
    padding: 16px 30px;
    overflow-x: auto;
  }

  .title {
    h6 .checkbox {
      margin-left: 16px;
    }
  }
}

.highlight-text {
  font-size: 36px;
  font-weight: bold;

  @include small-screen {
    font-size: 32px;
  }

  @include mobile-screen {
    font-size: 28px;
  }
}

.smallTitle {
  font-size: $font-base * 0.875;
}

/**
* text
**/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-decoration-line {
  text-decoration: line-through;
}

/**
* margin
**/
.mr-1 {
  margin-right: $font-base/2;
}

.mt-2 {
  margin-top: $font-base;
}

.ml-auto {
  margin-left: auto;
}

/**
* color
**/

.color-primary {
  color: $color-primary;
}

.color-danger {
  color: $color-danger;
}

.color-success {
  color: $color-success;
}

.color-muted {
  color: $color-muted;
}

.color-light {
  color: $color-light;
}

/**
* header
*/
.h6 {
  font-size: $font-base;
  font-weight: bold;
}

.h5 {
  font-size: $font-base*1.25;
  font-weight: bold;
}

.h4 {
  font-size: $font-base*1.5;
  font-weight: bold;

}

.h3 {
  font-size: $font-base*1.75;
  font-weight: bold;
}

.h2 {
  font-size: $font-base*2;
  font-weight: bold;

}

.h1 {
  font-size: $font-base*2.25;
  font-weight: bold;
}

/**
* flex
**/
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}