@mixin arrowDown {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $color-dark;
}

@mixin arrowUp {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $color-dark;
}


@mixin large-screen {
  @media(max-width: $large-screen) {
    @content
  }
}

@mixin medium-screen() {
  @media(max-width: $medium-screen) {
    @content
  }
}

@mixin small-screen {
  @media(max-width: $small-screen) {
    @content
  }
}

@mixin mobile-screen {
  @media(max-width: $mobile-screen) {
    @content
  }
}

@mixin small-mobile-screen {
  @media(max-width: $small-mobile-screen) {
    @content
  }
}