/**
* title
**/
.title {
  padding: 30px 42px;
  padding-bottom: 0px;
  display: flex;

  @include small-screen {
    padding: 30px 10px 5px 30px;
  }

  @include mobile-screen {
    padding: 20px 10px 5px 10px;
    align-items: center;
  }

  .date {
    margin-left: auto;
    align-self: center;

    @include mobile-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    i {
      margin-left: 8px;
      margin-right: 8px;

      @include mobile-screen {
        margin: 0;
      }
    }

    .fa-caret-down {
      display: none;

      @include mobile-screen {
        display: inline-block;
      }
    }

    .fa-caret-right {
      display: inline-block;

      @include mobile-screen {
        display: none;
      }
    }
  }

  .timeInterval {
    margin-left: 20px;

    .dropdown__list {
      right: 0px;
    }
  }
}

/**
* 1st row
**/

.overviewList__item {
  @include medium-screen {
    padding: 20px 20px;
  }

  @include small-screen {
    padding: 20px 10px;
  }

  .h6 {
    @include medium-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap
    }

    @include mobile-screen {
      flex-direction: row;
      justify-content: center
    }

  }

  i {
    @include medium-screen {
      margin-bottom: 10px;
    }

  }
}

/**
* 2nd row
**/
.activity {
  @include small-screen {
    padding: 30px;
  }

  @include mobile-screen {
    padding: 20px;
    padding-bottom: 0;
  }
}

.activityChart {
  margin-top: 16px;
}

/**
* 3rd row
**/
.list {
  margin-top: 30px;

  &__item--row {
    display: flex;
  }
}

.transweb {
  padding: 30px 40px;

  @include large-screen {
    padding: 30px 35px;
  }

  @include small-screen {
    padding: 30px;
  }

  @include mobile-screen {
    padding: 20px;
  }

  &List__item {
    padding: 23px 0;
    align-items: center;

    &:first-child {
      padding-top: 0px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-muter;
    }

    @include large-screen {
      padding: 18px 0;
    }

    @include medium-screen {
      flex-direction: row;
      align-items: center;
    }

    .h6 {
      margin-left: 20px;
    }

    &__data {
      margin-left: auto;
      display: flex;
      position: relative;

      @include large-screen {
        flex-direction: column;
        align-items: center;

        &:hover,
        &:active {
          .tooltip {
            display: block;
          }
        }
      }

      @include medium-screen {
        flex-direction: row;
        align-items: center;
      }

      @include small-screen {

        &:hover,
        &:active {
          .tooltip {
            display: none !important;
          }
        }
      }

      @include small-mobile-screen {
        flex-direction: column;
        align-items: center;
      }

      &__persent {
        margin-left: 20px;
        cursor: default;

        &:hover,
        &:active {
          .tooltip {
            display: block;
          }
        }

        i {
          margin-right: 5px;
        }

        @include large-screen {
          margin-top: 10px;
          margin-left: 0;
        }

        @include medium-screen {
          margin-top: 0;
          margin-left: 20px;
        }

        @include small-mobile-screen {
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }
}

.lastOrder {
  padding: 30px 40px;

  @include large-screen {
    padding: 30px 35px;
  }

  @include medium-screen {
    margin-top: 30px;
  }

  @include small-screen {
    margin-top: 15px;
    padding: 30px;
    margin-bottom: 30px;
  }

  @include mobile-screen {
    padding: 20px;
  }

  &List__item {
    display: flex;
    padding: 8px 0px;

    &:first-child {
      padding-top: 0px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-muter;
    }

    &__img {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100px;
      height: 100px;

      @include large-screen {
        width: 120px;
        height: 120px;
      }

      &.img1 {
        background-image: url('https://images.unsplash.com/photo-1545958397-822a0f48ff29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
      }

      &.img2 {
        background-image: url('https://images.unsplash.com/photo-1528911810580-7452a3412d02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
      }

      &.img3 {
        background-image: url('https://images.unsplash.com/photo-1520012218364-3dbe62c99bee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
      }
    }

    &__content {
      padding: 11px 21px 21px 0px;
      margin-left: 21px;
      display: flex;
      width: calc(100% - 100px);

      @include large-screen {
        width: calc(100% - 120px);
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin-left: 12px;
      }

      @include medium-screen {
        padding: 11px 21px 21px 0px;
      }

      @include small-mobile-screen {
        padding-bottom: 0px;
      }

      ul {
        &>li {
          padding-top: 8px;
          white-space: nowrap;

          &:nth-child(2) {
            padding-left: 3px;

            i {
              margin-right: 5px;
            }
          }
        }
      }

      &__total {
        margin: auto 0px 0px auto;
        text-align: right;

        @include large-screen {
          display: flex;
          align-items: center;
          margin: 0;
          justify-content: flex-end
        }

        @include small-mobile-screen {
          padding-top: 20px;
        }

        .h5 {
          margin-top: 2px;

          @include large-screen {
            margin-top: 0;
            margin-left: 12px;
          }
        }
      }
    }
  }
}

.tooltip {
  position: absolute;
  padding: 20px 16px;
  background-color: $color-dark;
  font-size: 14px;
  border-radius: 3px;
  bottom: 30px;
  left: 10px;
  display: none;

  @include large-screen {
    left: 27.1px;
    transform: translateX(-50%);
    bottom: 62px;
  }

  @include medium-screen {
    bottom: 35px;
    left: 10px;
    padding: 20px 10px;
    transform: translateX(0%);
  }

  &__title__highlight {
    margin-left: 6px;
    margin-right: 6px;
  }

  &__desc {
    text-align: center;
    margin-top: 8px;
    font-style: italic;
  }

  &:before {
    @include arrowDown;
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    @include large-screen {
      bottom: -8px;
    }
  }

}