.table {
  width: 100%;
  // table-layout: fixed;

  p {
    margin-top: 7px;
  }

  thead {
    background-color: $color-light;

    th {
      white-space: nowrap;
      font-weight: bold;
      padding: 11px 20px;
      text-align: left;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $color-muter;
    }

    td {
      font-size: 14px;
      white-space: nowrap;
      padding: 20px;
      vertical-align: top;

    }

  }

}

.tdList {
  &--right {
    text-align: right
  }

  &__item {
    white-space: nowrap;
    padding: 8px 0px;
    border-top: 1px solid $color-light;

    &:first-child {
      padding-top: 0px;
      border-top: none;
    }
  }

}